SECRET_KEY = '...'
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'default',
        'USER': 'user',
        'PASSWORD': 'db_password',
        'HOST': '',
        'PORT': '',
    },
    'udd': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'udd',
        'USER': 'user',
        'PASSWORD': 'db_password',
        'HOST': '',
        'PORT': '',
    }
}

# Uncomment to use django debug_toolbar. Requires: python-django-debug-toolbar
#DEBUG_MIDDLEWARE_CLASSES = (
#    'debug_toolbar.middleware.DebugToolbarMiddleware',)
#DEBUG_APPS = ('debug_toolbar',)
#INTERNAL_IPS = ('127.0.0.1',)
