{% load url from future %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>{% block title %}{% trans "Developer Advisory Team Overview" %}{% endblock %}</title>
	
	<link rel="stortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
	{% block extracss %}{% endblock %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/dat-overview.js' %}"></script>
	
	{% block extrahead %}{% endblock %}
</head>

<body>

<div id="wrapper">

<div id="header">
	<div id="extheader">
		<ul>
		<li><a href="http://www.ubuntu.com">Ubuntu.com</a></li>
		<li><a href="http://www.ubuntu.com/community">Community</a></li>
		<li><a href="http://www.ubuntu.com/support">Support</a></li>
		<li><a href="http://www.ubuntu.com/partners">Partners</a></li>
		</ul>
	</div>
	
	<div id="mainheader">
		<a id="sitetitle" href="{% url 'home' %}" class="quiet">
			<span id="sitename">{% trans "Developer Advisory Team Overview" %}</span>
		</a>
	
		<span id="userdata">
			<span class="username">
				<a href="/users/{{ user.username }}">{{ user.username }}</a>
			</span>
			<span class="useraction"><ul>
				{% if user.is_authenticated %}
				<li><a href="/logout">{% trans "Log out" %}</a></li>
				{% else %}
				<li><a href="/openid/login">{% trans "Log in" %}</a></li>
				{% endif %}
			</ul></span>
		</span>
	</div>
	
	{% if messages %}
		<div id="messages"><ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul></div>
	{% endif %}
</div>

<div id="content" class="container row-fluid">

{% if in_allowed_group %}
	<div class="offset1 span8">
{% else %}
	<div class="offset1 span10">
{% endif %}
			{% block content %}{% endblock %}
	</div>

{% if in_allowed_group %}
		{% include "sidebar.html" %}
{% endif %}

</div>

<div class="bottom"></div>

<div id="footer">
	<div id="footnav">
		<ul>
		<li class="toplevel"><a href="{% url 'home' %}">{% trans "DAT Overview" %}</a></li>
		<li><a href="http://bugs.launchpad.net/dat-overview" target="_blank">{% trans "Bugs" %}</a></li>
		<li><a href="http://code.launchpad.net/dat-overview" target="_blank">{% trans "Code" %}</a></li>
		</ul>
	</div>
	
	<div id="copyright">
		&copy; 2013 Ubuntu Developers
		<br />Ubuntu is a registered trademark of Canonical Ltd.
	</div>
</div>

</body>

</html>

