{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<h1>First timers:</h1>

<div class='main'>

    <div class='legend'>
    <h3>Legend:</h3>
    <table>
        <tr class="gt5"><td>>= 5 uploads</td></tr>
        <tr class="gt10"><td>>= 10 uploads</td></tr>
        <tr class="gt20"><td>>= 20 uploads</td></tr>
        <tr class="gt50"><td>>= 50 uploads</td></tr>
    </table>
    </div>

    <h2>Unstable</h2>
    <table class='first_timers'>
        <tr>
            <th>Contacted</th>
            <th>Uploader</th>
            <th>Active</th>
            <th>Total Uploads</th>
            <th>Dates Active</th>
        </tr>
        {% for i in output|dictsortreversed:"p.first_upload.timestamp" %}
            {% if 'unstable' in i.p.first_upload.release or 'sid' in i.p.first_upload.release %}
            <tr class='{{ i.color }}'>
                <td>{% if i.p.contacted %}
                        <center>✓</center>
                    {% endif %}
                </td>
                <td><a href="{{ i.p.email }}">{{ i.p.name }}</a></td>

                <td>{{ i.p.is_active|yesno:"Yes,No" }}</td>
                <td>{{ i.p.total_uploads }}</td>
                {% if i.p.first_upload.timestamp == i.p.last_upload.timestamp %}
                <td>{{ i.p.first_upload.timestamp|date:"SHORT_DATE_FORMAT" }}</td>
                {% else %}
                <td>
                    {{ i.p.first_upload.timestamp|date:"SHORT_DATE_FORMAT" }} to {{ i.p.last_upload.timestamp|date:"SHORT_DATE_FORMAT" }}
                </td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>

</div>
<br>
<div class='main'>
    <h2>Experimental</h2>
    <table class='first_timers'>
        <tr>
            <th>Contacted</th>
            <th>Uploader</th>
            <th>Active</th>
            <th>Total Uploads</th>
            <th>Dates Active</th>
        </tr>
        </tr>
        {% for i in output|dictsortreversed:"p.first_upload.timestamp" %}
            {% if 'experimental' in i.p.first_upload.release %}
            <tr class='{{ i.color }}'>
                <td>{% if i.p.contacted %}
                        <center>✓</center>
                    {% endif %}
                </td>
                <td><a href="{{ i.p.email }}">{{ i.p.name }}</a></td>
                <td>{{ i.p.is_active|yesno:"Yes,No" }}</td>
                <td>{{ i.p.total_uploads }}</td>
                {% if i.p.first_upload.timestamp == i.p.last_upload.timestamp %}
                <td>{{ i.p.first_upload.timestamp|date:"SHORT_DATE_FORMAT" }}</td>
                {% else %}
                <td>
                    {{ i.p.first_upload.timestamp|date:"SHORT_DATE_FORMAT" }} to {{ i.p.last_upload.timestamp|date:"SHORT_DATE_FORMAT" }}
                </td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>

</div>
<br>

{% endblock %}
