{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<h1>Lost contributors</h1>

<div class='main'>

<h3>(active in the last year, inactive in the last two months)</h3>

<table>
    <tr>
        <th>Contacted</th>
        <th>Developer</th>
        <th>Last Seen</th>
        <th>Total Uploads</th>
    </tr>
{% for p in lost_contributors|dictsortreversed:"last_upload.timestamp" %}
    <tr>
        <td>{% if p|recent_contact > p.last_upload.timestamp %}
            <center>✓</center>{% endif %}
        </td>
        <td>
            <a href="{{ p.email }}">{{ p.name }}</a>{% ubu_dev_img p.ubuntu_dev %}
        </td>
        <td>{{ p.last_upload.timestamp|date:"SHORT_DATE_FORMAT" }}</td>
        <td><center>{{ p.total_uploads }}</center></td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}
