{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<h1>Potential Debian Developers</h1>

<div class='main'>

<h3>(Currently active and has been for more than six months with more than 40 uploads)</h3>

<table>
    <tr>
        <th>Developer</th>
        <th>Uploads</th>
        <th>Dates Active</th>
        <th>Last Contact</th>
        <th>Contactor</th>
    </tr>

{% for p in potential_devs|dictsortreversed:"first_upload.timestamp" %}
    <tr>
        <td><a href="{{ p.email }}">{{ p.name }}</a></td>
        <td>{{ p.total_uploads }}</td>
        <td>{{ p.first_upload.timestamp|date:"SHORT_DATE_FORMAT" }} to {{ p.last_upload.timestamp|date:"SHORT_DATE_FORMAT" }}</td>
   		<td>{% if p.contacts.all %} {{p.contacts.all.0.submit_date|date:"SHORT_DATE_FORMAT" }} {% else %} Never {% endif %}</td>
   		<td>{% if p.contacts.all %}  {{p.contacts.all.0.name}} {% else %} Nobody {% endif %}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
