{% block sidebar %}

<div id="sidebar" class="span2">

    <br>

    <div class="main">

    <h3>Contributors:</h3>

    <ul>
        <li><a href="/contributors/first_timers.html">First timers</a></li>
        <li><a href="/contributors/recent_contributors.html">Recent contributors</a></li>
        <li><a href="/contributors/lost_contributors.html">Lost contributors</a></li>
        <li><a href="/contributors/potential_devs.html">Potential Debian Developers</a></li>
    </ul>

    <h3>Stats:</h3>

    <ul>
      <li>Comming soon...</li>
    </ul>

  </div>

</div>

{% endblock %}
