{% load custom_tags %}
{% block dashboard %}

<div id='content' class='row-fluid'>

<div class='dashboard-box span4'>
    <h3>New comers not greeted yet:</h3>
    {% for p in first_timers %}
        <li><a href="contributors/{{ p.email }}">{{ p.name }}</a>, {{ p.latest }}</li>
    {% endfor %}
</div>

<div class='dashboard-box span4'>
    <h3>Have done 40 uploads but need to be contacted:</h3>
    {% for p in experienced %}
        <li><a href="contributors/{{ p.email }}">{{ p.name }}</a>, {{ p.total }} uploads</li>
    {% endfor %}
</div>

<div class='dashboard-box span4'>
    <h3>Haven't done an upload since being contacted:</h3>
    {% for p in inactive %}
        <li><a href="contributors/{{ p.email }}">{{ p.name }}</a>, {{ p.latest }}</li>
    {% endfor %}
</div>

<div class='dashboard-box span4'>
    <h3>Was recently contacted:</h3>
    {% for p in contacted %}
        <li><a href="contributors/{{ p.email }}">{{ p.name }}</a>, {{ p.latest }}</li>
    {% endfor %}
</div>

</div>

<div id='action_log'>
    <h2>Your Most Recent Actions:</h2>
        <ul>{% for action in actions|slice:":20" %}
            <li>{{ action.action_time|date:"D d M Y" }}:
                <a href="/contributors/{{ action.object_repr }}">
                    {{ action.change_message }}</a></li>
            {% endfor %}
        </ul>
</div>

<p>The purpose of this app is to help Debian Developer Advisory Team get in touch with new Debian contributors. 
People who should get pinged are active contributors who become inactive as well as experienced people who should 
be applying for developer status. 
</p>
{% endblock %}
